
AllAboardAttendance/media/qrimages/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa_fdE1bFL
AllAboardAttendance/media/qrimages/fifteen
AllAboardAttendance/media/qrimages/five
AllAboardAttendance/media/qrimages/ten
*.sqlite3
AllAboardAttendance/accounts/__pycache__/admin.cpython-37.pyc
