<!-- simple list with hyperlinks to lectures. Not fully tested yet!-->
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">All Aboard Attendance</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/course">Courses</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Get Started
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin">Admin</a>
        </div>
      </li>

      <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
      <!--</li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<h1> {{course.course_title}} </h1>

<form action="{% url 'course:open_lecture' course.id %}" method = "POST" >
	{% csrf_token %}
	<div class="form-group">
		<p style="font-size:20px">Lecture Title: <input type = "text" name = "lecture_title">
	<input type = "hidden" name = "next" value = "{{ request.path }}"  >

	<button type = "submit" class = "btn btn-primary" > Start New Lecture </button></p>
	</div>



</form>


{% if user.is_authenticated %}
<div class="list-group">
	{% for lecture in course.lecture_set.all %}
  		<a href="{% url 'course:info' lecture.lecture_title_slug %}" class="list-group-item list-group-item-action">
			<div class="d-flex w-100 justify-content-between">
			  <h5 class="mb-1">{{ lecture.lecture_title }}</h5>
			  <small>Session State</small>
			</div>
			<p class="mb-1">Placeholder for some texts about each lecture.</p>
			<small>published {{ lecture.pub_date }}</small>
  		</a>
	{% endfor %}
</div>
{% else %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">
      You are not authenticated. <br>
    </h2>
    <p class="lead">
      Please log in or sign up before using our service. <br>
    </p>
  </div>
</div>
{% endif %}
<!--This below code works when the button isnt implemented-->
<!--{% for lecture in course.lecture_set.all %}-->
	<!---->
	<!--<li><a href="{% url 'course:info' lecture.lecture_title_slug %}">{{ lecture.lecture_title }}</a>, published {{ lecture.pub_date }}</li>-->

<!--{% endfor %}-->

</html>
<!-- to be implemented: "new lecture" button -->

