<!-- simple list with hyperlinks to lectures. Not fully tested yet!-->

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'course/style.css' %}" />

<h1> {{course.course_title}} <h1>

<form action="{% url 'course:open_lecture' course.id %}" method = "POST" >
	{% csrf_token %}
	Lecture Title: <input type = "text" name = "lecture_title">
	<input type = "hidden" name = "next" value = "{{ request.path }}">
	<button type = "submit" class = "btn btn-default" > Start New Lecture </button>
</form>

<!--This below code works when the button isnt implemented-->
{% for lecture in course.lecture_set.all %}
	
	<li><a href="{% url 'course:info' lecture.lecture_title_slug %}">{{ lecture.lecture_title }}</a>, published {{ lecture.pub_date }}</li>

{% endfor %}

<!-- to be implemented: "new lecture" button -->