<!DOCTYPE html>
<html lang="en">

<!--links for Bootstrap CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--Navbar that has site title, home, course, admin, and login/logout buttons-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">All Aboard Attendance</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/course">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
      {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      {% else %}
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
      {% endif %}
  </div>
</nav>

<!--Box for introductions-->
<div class="jumbotron">
  <h1 class="display-4">Welcome to All Aboard Attendance!</h1>
  <p class="lead">All Aboard Attendance is a new, efficient way of taking attendance. Instead of relying on roll call, sign-in sheets, or easily tricked login systems, All Aboard utilizes an insightful method to quickly take attendance and generate valuable data on student attendance trends.</p>
  <hr class="my-4">
  <p>To get more information about our system, please visit our GitHub. </p>
  <a class="btn btn-primary btn-lg" href="https://github.com/wetsmith/AllAboardAttendance" role="button">Learn more</a>
</div>

<!--Box for holding texts about course description/login requirment.-->
<!--Contents changes depending on whether user is logged in or not. -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">
      {% if user.is_authenticated %}
      Welcome, {{user.email}}.<br>
      {% else %}
      You are not currently logged in. <br>
      {% endif %}
    </h2>
    <p class="lead">
      {% if user.is_authenticated %}
      Please continue to the Courses page to view your courses.<br>
      {% else %}
      If you are an instructor, please log in. If you are a student signing in for attendance, please scan your lecture's QR code. <br>
      {% endif %}
    </p>
  </div>
</div>


</html>