{% extends 'base.html' %}
<!-- login page-->
{% block content %}
<div class="container">
    <h1>login</h1>

    {% if error %}
    <p>username of password incorrect</p>
    {% endif %}

    <form method="POST" action="{%url 'login'%}">
        {% csrf_token %}
        Username:
        <br>
        <input name="username" type="text">
        <br>
        Password:
        <br>
        <input name="password" type="password">
        <br><br>
        <input type="submit" class="btn btn-primary" value="log in">
    </form>
</div>
{% endblock %}